{% extends 'base.html' %}

{% block title%}
Landing Page
{% endblock %}

{% block content %}
	<div class="container">
		<div class="times new roman">
			
			<div>
				<label>Kelompok</label>
			</div>
			<div>
				
				<ol type="A">
					<li>Nama Kelompok :
						<ul type="none">
							<li color="blue">PIRAMIDA</li>
						</ul>
					</li>
					<li>Anggota Kelompok :
						<ul type="none">
							<li> 191080200138 - Dewi Rohmadiniyah</li>
							<li> 191080200154 - Della Swastika Nur Aini</li>
							<li> 191080200251 - Yenni Seftiardiyah</li>
						</ul>
					</li>
					<li>
						Framework Pilihan :
						<ul type="none">
							<li>Python Django (2)</li>
						</ul>
					</li>
				</ol>
			</div>
		</div>
	</div>
{% endblock %}